<footer>
    <p>Our address is
    <address>Bethany's Pie Shop - Bakery Street 555 Brussels Belgium</address>
    </p>
    <p>Contact us via <a href="mailto:info@bethanyspieshop.com">email</a></p>
    <small>&copy; 2021 Bethany's Pie Shop - All rights reserved</small>
    <p><small><a href="https://www.snowball.be">Created by Snowball</a></small></p>
</footer>