<div style="width:1000px; margin-left: auto; margin-right: auto;">
<aside id="leftMenu">
    <a href="/"><img src="/bethanylogo.png" alt="Bethany's Pie Shop Logo"></a>
    <header>
        <h4 style="text-align: center;">Browse Our Pies</h4>
    </header>
    <ul>
        <li><a href="/products/all">All Pies</a></li>
        <li><a href="/products/cheesecakes">Cheesecakes</a></li>
        <li><a href="/products/fruitpies">Fruit Pies</a></li>
        <li><a href="/products/seasonalpies">Seasonal Pies</a></li>
        <li><a href="/#promos">Promotions</a></li>
    </ul>

    <input type="search" class="searchbox" placeholder="Search our store">
</aside>