<% layout('layouts/boilerplate') %>

<body>
            <header>
                <h1>Bethany's Promotions</h1>
            </header>

            <p>Check out our current promotions below!</p>
            <div class="promotion">
                <img src="products/applepie.jpg" alt="Apple Pie">
                <h2>Buy one get one</h2>
                <p>Applies to fruit and seasonal pies. Cheese cakes excluded.</p>
            </div>
            <div class="promotion promotion-purple">
                <img src="products/cheesecake.jpg" alt="Cheesecake">
                <h2>Cheese cake Wednesdays</h2>
                <p>Celebrate Hump Day with 25% off all cheese cakes.</p>
            </div>
        </main>
</body>

</html>
